/*Configurações gerais da página*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Botões para mudar temas claro e escuro*/

#botoes {
    position: absolute;
    top: 150px;
    right: 300px;
}

#color_change_white {
    width: 20px;
    height: 20px;
    border-radius: 0.9pc;
    border: 1px solid black;
    background-color: white;
}

#color_change_black {
    width: 20px;
    height: 20px;
    border-radius: 0.9pc;
    border: 1px solid white ;
    background-color: black;
}

#color_change_white:hover {
    width: 30px;
    height: 30px;
    border-radius: 0.9pc;
    border: 1px solid black;
    background-color: white;
}

#color_change_black:hover {
    width: 30px;
    height: 30px;
    border-radius: 0.9pc;
    border: 1px solid black;
    background-color: black;
}

#color_change_white:focus {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#color_change_black:focus {
    width: 30px;
    height: 30px;
    border: 1px solid white ;
}


/*Tema Escuro*/
body {
    background-color: black;
    font-family: 'Courier New', Courier;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    color: white;
}

#central {
    text-align: center;
    padding: 20px;
}

#titulo {
    font-size: 2pc;
    color: #f3f3f3;
}

#texto {
    border: none;
    width: 260px;
    border-radius: 1pc;
    color: white;
    background-color: black;
    padding: 8px; 
    margin-top: 10px; 
}

#texto:hover {
    border: grey solid 0.1px;
}

#texto:focus {
    color: white;
    outline: none;
}

#texto::placeholder{
    color: white;
    opacity: 0.3;
}

#botao {
    border: none;
    color: white;
    background-color: black;
    border-radius: 1pc;
    padding: 8px 16px; 
    margin-top: 10px; 
}

#botao:hover {
    border: gray solid 0.1px;
}

#botao:active {
    background-color: white;
    color: black;
}


#check_button{
    width: 30px;
    height: 30px;
    background-color: black;
    border: 0px;
    border-radius: 0.9pc;
    color: white;
}

#check_button:hover{
    border: solid 1px white;
}

#check_button:active{
    background-color: white;
    color: black;
}

#delete_button{
    width: 30px;
    height: 30px;
    background-color: black;
    border: 0px;
    border-radius: 0.9pc;
    color: white;
}

#delete_button:hover{
border: 1px solid white;
}

#delete_button:active{
    background-color: white;
    color: black;
}




/*Tema claro

body {
    background-color: White;
    font-family: 'Courier New', Courier;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#central {
    text-align: center;
    padding: 20px;
}

#titulo {
    font-size: 2pc;
    color: black;
}

#texto {
    border: none;
    width: 250px;
    border-radius: 1pc;
    color: Black;
    background-color: white;
    padding: 8px;
    margin-top: 10px;
}

#texto:hover {
    border: grey solid 0.1px;
}

#texto:focus {
    color: black;
    outline: none;
}

#texto::placeholder {
    color: black;
    opacity: 0.3;
}

#botao {
    border: none;
    color: black;
    background-color: white;
    border-radius: 1pc;
    padding: 8px 16px;
    margin-top: 10px;
}

#botao:hover {
    border: gray solid 0.1px;
}

#botao:active {
    background-color: black;
    color: white;
}

#lista{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#check_button{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 0.9pc;
}

#check_button:hover{
    border: solid 1px black;
}

#check_button:active{
    background-color: black;
    color: white;
}

#delete_button{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 0.9pc;
}

#delete_button:hover{
border: 1px solid black;
}

#delete_button:active{
    background-color: black;
    color: white;
}*/



/*Lista de tarefas*/
table{
    margin-top: 25px;
}

td{
    height: 40px;
}

#td_1{

}

#td_2{
width: 300px;

}

#td_3{
width: 80px;

}

